name: 'Junit Tests'
on:
  workflow_call:
    inputs:
      java-version:
        description: 'Version of Java JDK'
        required: true
        type: string
        default: "21"
      distribution:
        description: 'Distribution of Java JDK'
        required: true
        type: string
        default: "oracle"
      working-dir:
        description: 'Working directory'
        required: true
        type: string
        default: "."
    outputs:
      check-name:
        description: "The name of the check"
        value: ${{ jobs.check.outputs.check-name }}

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3
      - name: Set up Java
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4
        with:
          java-version: ${{ inputs.java-version }}
          distribution: ${{ inputs.distribution }}
      - name: Run Junit tests with gradle
        run: gradle test
        working-directory: ${{ inputs.working-dir }}

    outputs:
      check-name: ${{ steps.check.outputs.name }}