name: 'Spotless Check'
on:
  workflow_call:
    inputs:
      java-version:
        description: 'Version of Java JDK'
        required: true
        type: string
        default: "21"
      distribution:
        description: 'Distribution of Java JDK'
        required: true
        type: string
        default: "oracle"
      working-dir:
        description: 'Working directory'
        required: true
        type: string
        default: "."
    outputs:
      check-name:
        description: "The name of the check"
        value: ${{ jobs.check.outputs.check-name }}

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: Setup Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # v3
      - name: Set up Java
        uses: actions/setup-java@c1e323688fd81a25caa38c78aa6df2d33d3e20d9 # v4
        with:
          java-version: ${{ inputs.java-version }}
          distribution: ${{ inputs.distribution }}

      - name: Run Spotless check
        run: gradle spotlessCheck
        working-directory: ${{ inputs.working-dir }}

    outputs:
      check-name: ${{ steps.check.outputs.name }}